:root {
  --animate-duration: 800ms;
  --animate-delay: 3s;
}
* {
  font-family: "Ubuntu", sans-serif;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  background-color: rgba(251, 251, 251, 0.5);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.logo {
  width: 160px;
}

.card-bg:hover {
  background-color: #9dbcdb38;
  transition: all 400ms ease-in-out;
}

/* custom shape divider */

.custom-shape-divider-top-1604356726 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1604356726 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 258px;
}

.custom-shape-divider-top-1604356726 .shape-fill {
  fill: #add8e6;
}

/* end of custom svg shape */

::selection {
  background-color: #add8e6;
  color: white;
}

/* warning on blog "blog under construction" */
.warning {
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 1;
  background-color: yellow;
  padding: 0.5em 1em;
  font-weight: bold;
}

/* tags style */

p {
  word-break: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Itim", cursive;
}

/* end of tags style */

/* nav */
.navbar {
  background: #98b9dae5;
}
.nav-link {
  font-size: 1.2em;
  color: white !important;
}

/* end of nav */

/* landing page */
#welcome-section {
  background: linear-gradient(rgba(21, 69, 89, 0.835), rgba(21, 69, 89, 0.863)),
    url(https://i.imgur.com/oDGrvyc.jpg) center/cover no-repeat;
  height: 100vh;
  /* padding-top: 6em; */
}

.hello {
  background-color: orange;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.iam {
  background-color: darkcyan;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.work {
  font-size: 2em;
  color: white;
  margin-bottom: 2.5em;
}

#welcome-section h1 {
  font-weight: bolder;
  color: white;
}

/* end of landing page */

/* about  */

.abt-me {
  background-color: rgb(39, 133, 125);
  padding: 0.5em 1em;
  max-width: 300px;
  font-size: 1.2rem;
  margin-bottom: -20px;
  box-shadow: 0 2px 5px white;
  border-radius: 0.5em;
  color: white;
}

.abt-img {
  margin-bottom: 2em;
}

.img {
  outline: 0.5rem solid rgba(255, 255, 255, 0.637);
  outline-offset: -20px;
}

.abt-txt {
  color: rgb(58, 58, 58);
  background-color: #98b9dab7;
  color: white;
  border-radius: 1em;
  padding: 1.5em;
  font-size: 1.1em;
  line-height: 1.7;
}

/* end of about */

.on {
  width: 35px;
  height: 35px;
  border: 2px solid #154559dc;
  background-color: #98b9da;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.on:hover {
  background: white;
}

.card {
  box-shadow: 2px 5px 15px lightgray;
}
/* skills */
.fa-html5 {
  font-size: 3em;
  color: orangered;
  margin-bottom: 0.5em;
}

.fa-css3 {
  font-size: 3em;
  color: blue;
  margin-bottom: 0.5em;
}

.fa-bootstrap {
  font-size: 3em;
  color: purple;
  margin-bottom: 0.5em;
}

.fa-js {
  font-size: 3em;
  color: orange;
  margin-bottom: 0.5em;
}

.fa-git-square {
  font-size: 3em;
  color: rgb(230, 78, 78);
  margin-bottom: 0.5em;
}

.fa-sass {
  font-size: 3em;
  color: orangered;
  margin-bottom: 0.5em;
}

.fa-wordpress {
  font-size: 3em;
  color: rgb(34, 113, 216);
  margin-bottom: 0.5em;
}

#skills {
  position: relative;
  padding: 5em 1em;
  background: linear-gradient(
      rgba(255, 255, 255, 0.938),
      rgba(255, 255, 255, 0.904)
    ),
    url(https://i.imgur.com/peNe86I.jpg) center/cover no-repeat;
}

/* end of skills */

/* fontawesome icons */

.fa-twitter,
.fa-whatsapp,
.fa-instagram,
.fa-github {
  font-size: 1.3em;
  margin: 0.4em 0;
  color: #154599;
  background-color: #98b9da46;
  padding: 0.5em;
  border-radius: 50%;
  border: 0.5px dashed #154599;
}
.fa-twitter:hover,
.fa-whatsapp:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: white;
  background-color: #154599;
  transition: all linear 300ms;
}

.fa-twitter {
  margin: 0;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 14px;
}

.fa-circle {
  font-size: 10px;
  color: lime;
}

.fa-envelope,
.fa-phone,
.fa-fire,
.fa-tag {
  font-size: 1.5em;
  color: #103679;
  margin-bottom: 0.5em;
  text-shadow: 0 0 10px grey;
}

.fa-check-square {
  color: limegreen;
}

/* end of fontawesome icons */

blockquote {
  border-left: 5px solid #00bfff;
  background-color: #98b9da28;
  padding: 1em;
  font-size: 1.3rem;
  margin-bottom: 0;
}

blockquote > small {
  font-weight: bold;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* headings */
.heading,
.heading-1,
.heading-2 {
  color: rgb(8, 8, 61);
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline orange;
  font-size: 2rem;
}

.blog-heading {
  margin-top: 6.5em;
}

.heading-1 {
  text-decoration: underline #3877b8;
}

.heading-2 {
  text-decoration: underline #c26d66;
}

.heading-shadow {
  font-size: 3.5rem;
  color: rgba(211, 211, 211, 0.322);
  text-transform: uppercase;
  margin-bottom: -25px;
}

/* end of headings */

/* portfolio */
#projects {
  padding: 5em 1em;
  background: linear-gradient(
      rgba(255, 255, 255, 0.986),
      rgba(178, 178, 179, 0.281),
      rgba(245, 245, 245, 0.993)
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(104,683,331)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%239ec4ff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='521' height='434.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* end of portfolio */

/* contact */
#contact {
  padding: 5em 1em;
  /* scroll-margin-top: 1em; */
}

.increase-form {
  padding: 1em;
}
.email,
.username,
.subject {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #154559dc;
  background-color: #98b9da28;
}
.subscribe {
  width: 100%;
  outline: none;
  background-color: white;
  border: none;
  box-shadow: 0 0 1px grey;
  padding: 0.8em 1em;
  margin-bottom: 15px;
}
.subject {
  width: 100%;
}

textarea {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1.5em 1em;
  border-bottom: 2px solid #154559dc !important;
  background-color: #98b9da28;
}

.submit input {
  border: 0.5px solid #154559dc;
  color: #fff;
  transition: all linear 400ms;
  background-color: #154559dc;
  border-radius: 0.3em;
  padding: 0.7em 0;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
}

.submit input:hover {
  color: #154559dc;
  background-color: white;
}

/* end of contact */

/* footer */

#footer a {
  color: rgb(255, 245, 105);
}
.footer {
  background-color: #154559dc;
}

/* end of footer */

/* overlay */
.container-0 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay-01 {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}
.container-0:hover .overlay-01 {
  opacity: 1;
}
.text-01 {
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
.visit-site {
  position: absolute;
  color: white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlayLeft {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.849);
}
.container-0:hover .overlayLeft {
  width: 100%;
}
/* end of overlay */

/* BLOG */
.date {
  background: hsl(210, 47%, 73%);
  padding: 0.3em 0;
  color: white;
  width: 60px;
  text-align: center;
  border-radius: 0.3em;
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: -40px;
  box-shadow: 2px 2px 5px grey;
}
.date p {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
}

.post-heading {
  color: rgba(36, 33, 33, 0.849);
}

.post-heading:hover {
  color: rgba(21, 69, 89, 0.863) !important;
  text-decoration: none !important;
  transition: all linear 300ms;
}

.post-heading:visited {
  color: #9abadb;
}
/* END OF BLOG */

/* TAGS */
.tag {
  margin-left: 1em;
  color: white;
  margin-bottom: 0.5em;
  padding: 0.2em 0.5em;
  text-decoration: none;
  border-radius: 10px;
}

.html {
  background-color: orangered;
}
.css {
  background-color: rgb(19, 19, 145);
}
.js {
  background-color: rgb(194, 194, 11);
}
.bootstrap {
  background-color: rgb(150, 5, 150);
}
.tag:hover {
  color: black;
  text-decoration: none;
  background-color: lightsteelblue;
  transition: all 200ms linear;
}

/* END OF TAGS */

/* MEDIA QUERIES */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .abt-txt {
    font-size: 1.1em;
  }

  .name {
    font-size: 3rem;
  }
  .heading-shadow {
    font-size: 3.2rem;
    color: rgba(211, 211, 211, 0.322);
    text-transform: uppercase;
    margin-bottom: -25px;
  }

  .work {
    font-size: 1.6em;
    color: white;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .abt-txt {
    font-size: 1.1em;
  }

  .name {
    font-size: 2.8rem !important;
  }

  .work {
    font-size: 1.5rem;
  }
  .heading-shadow {
    font-size: 3rem;
    color: rgba(211, 211, 211, 0.322);
    text-transform: uppercase;
    margin-bottom: -25px;
  }

  .social-media {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .abt-txt {
    margin-top: 1.8em;
    font-size: 1rem;
  }

  .abt-me {
    margin-bottom: -40px;
  }

  .heading-shadow {
    font-size: 2.8rem;
    color: rgba(211, 211, 211, 0.322);
    text-transform: uppercase;
    margin-bottom: -25px;
  }

  .name {
    font-size: 2.5rem !important;
  }

  .work {
    font-size: 1.5rem;
  }

  .hello,
  .iam {
    font-size: 1.1rem;
  }

  .social-media {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .fav-qoutes {
    margin-top: 0.5em;
  }

  .abt-txt,
  .abt-me {
    display: none;
  }

  .hello,
  .iam {
    font-size: 0.6em;
  }

  .name {
    font-size: 3rem !important;
  }

  .work {
    font-size: 1.8em;
    color: white;
  }

  .heading-shadow {
    font-size: 2.5rem;
    color: rgba(211, 211, 211, 0.322);
    text-transform: uppercase;
    margin-bottom: -25px;
  }

  .logo {
    width: 150px;
  }

  .social-media {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
