@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --animate-duration: 800ms;
  --animate-delay: 1s;
  --primary_: #f89345;
  --primary-lit_: #eeb08191;
  --secondary_: #ac3501;
  --secondary-lit_: #fa8e607a;
  --tertiary_: #2b3016;
  --light_gray_: #eff0ef;
  --dark_: #121215;
  box-sizing: border-box;
}
* {
  font-family: "Ubuntu", sans-serif;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
  background: linear-gradient(rgba(97, 97, 97, 0.2), rgba(97, 97, 97, 0.2)),
    url("/images/main-bg.png") center/cover no-repeat;
  background-attachment: fixed;
  position: relative;
  line-height: 1.6;
}

.hero-pic img {
  width: 60px;
  height: 60px;
  border: 3px solid var(--light_gray_);
  outline: 3px solid var(--light_gray_);
  border-radius: 50%;
}

body.overlay::before {
  position: fixed;
  content: "";
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: 9;
}

.menu_btn {
  cursor: pointer;
}

/* ========== SCROLL=========== */

.scroll {
  position: absolute;
  content: "";
  right: 49%;
  top: 580px;
  animation: move 1s infinite alternate;
  -webkit-animation: move 1s infinite alternate;
}

.scroll_top {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: var(--secondary_);
  padding: 0.4em;
  border-radius: 0.2em;
  text-align: center;
  transition: all 0.3s ease-in;
}

.visibility {
  visibility: visible;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(10px);
  }
}

/* ========= RESETS ============ */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  word-break: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Itim", cursive; */
  /* font-family: "Russo One", sans-serif; */
  font-family: "Fredoka One", cursive;
  color: var(--tertiary_);
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.logo {
  width: 40px;
  height: 40px;
}

.footer-logo {
  width: 40px;
  height: 40px;
}

/* =========== NAVIGATION */

nav {
  background-color: var(--light_gray_);
  padding: 1em 2em;
  display: flex;
}

.navbar-list {
  visibility: hidden;
  position: fixed;
  content: "";
  z-index: 10;
  list-style: none;
  text-align: center;
  background-color: var(--light_gray_);
  width: calc(100% - 6%);
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
  border-radius: 0.5em;
  top: 15%;
  left: 0;
  right: 0;
}

.navbar-list a {
  text-decoration: none;
  color: var(--dark_);
  font-size: 1.2rem;
  display: block;
  padding: 0.7em 0;
}

.navbar-list a:hover {
  background: var(--primary-lit_);
  color: var(--light_gray_);
  text-decoration: none;
}

.hire-btn {
  display: none;
  background: linear-gradient(to right, var(--primary_), var(--secondary_));
  color: var(--light_gray_);
  padding: 0.4em 1.6em;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 2em;
  box-shadow: 3px 3px 10px var(--tertiary_);
}

.hire-btn:hover {
  background: linear-gradient(to left, var(--primary_), var(--secondary_));
  color: var(--light_gray_);
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

/* =========== END OF NAVIGATION ===========*/

::selection {
  background-color: var(--primary_);
  color: var(--light_gray);
}

/* =========== HERO SECTION ============ */
#welcome-section {
  background: linear-gradient(rgba(19, 19, 22, 0.788), rgba(18, 18, 21, 0.739)),
    url(/images/hero-bg.jpg) center/cover no-repeat;
  height: 100vh;
}

.hello {
  background-color: var(--primary_);
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.3rem;
}
.iam {
  background-color: var(--secondary_);
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.3rem;
}

.work {
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
  font-family: "Itim", cursive;
}

#welcome-section h1 {
  color: white;
  font-size: 2.5rem;
}

/* ============ END OF HERO SECTIOIN ============== */

/* ============ ABOUT ME */

.abt-me {
  background-color: var(--light_gray_);
  padding: 0.4em 1em;
  max-width: 300px;
  font-size: 1.2rem;
  margin-bottom: -20px;
  box-shadow: 0 2px 5px white;
  border-radius: 0.5em;
  color: var(--dark_);
}

.about > p {
  text-indent: 15px;
}

.abt-img {
  margin-bottom: 2em;
}

.img {
  outline: 0.5rem solid rgba(255, 255, 255, 0.637);
  outline-offset: -20px;
}

.abt-txt {
  color: rgb(58, 58, 58);
  background-color: var(--tertiary_);
  color: var(--light_gray);
  border-radius: 1em;
  padding: 1.5em;
  font-size: 1.1em;
  line-height: 1.7;
}

/* =============== END OF ABOUT ME =============== */

/* ON __little green circle */
.on {
  width: 35px;
  height: 35px;
  border: 2px solid var(--dark_);
  background-color: var(--primary_);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.on:hover {
  background: var(--light_gray_);
}

/* ON ends here */

/* box-shadow for card */
.card {
  box-shadow: 2px 5px 15px lightgray;
}

/* =========== SKILLS FA ICONS & STYLES */
.fa-html5 {
  font-size: 3em;
  color: orangered;
}

.fa-css3 {
  font-size: 3em;
  color: blue;
}

.fa-bootstrap {
  font-size: 3em;
  color: purple;
}

.fa-js {
  font-size: 3em;
  color: orange;
}

.fa-git-square {
  font-size: 3em;
  color: rgb(230, 78, 78);
}

.fa-sass {
  font-size: 3em;
  color: orangered;
}

.fa-wordpress {
  font-size: 3em;
  color: rgb(34, 113, 216);
}

#skills {
  position: relative;
  padding: 5em 0;
}

#skills .hide-mobile {
  display: none;
}

/* =========== END OF SKILLS */

/* =========== SOCIAL MEDIA ICONS */

.fa-twitter,
.fa-whatsapp,
.fa-instagram,
.fa-github {
  font-size: 1.3em;
  margin: 0.4em 0;
  color: var(--primary_);
  background-color: var(--primary-lit_);
  padding: 0.5em;
  border-radius: 50%;
  border: 0.5px dashed var(--secondary_);
}
.fa-twitter:hover,
.fa-whatsapp:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: white;
  background-color: var(--secondary_);
  transition: all linear 300ms;
}

.fa-twitter {
  margin: 0;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 14px;
}

.fa-circle {
  font-size: 10px;
  color: lime;
}

.fa-envelope,
.fa-phone,
.fa-fire {
  font-size: 1.5em;
  color: var(--tertiary_);
  margin-bottom: 0.5em;
  text-shadow: 0 0 10px grey;
}

.fa-check-square {
  color: limegreen;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ============ END OF SOCIAL MEDIA ICONS */

/* ====== BLOCKQOUTE */
blockquote {
  border-left: 7px solid var(--dark_);
  background-color: var(--primary-lit_);
  padding: 1em;
  font-size: 0.9rem;
  margin-bottom: 0;
}

blockquote > small {
  font-weight: bold;
}

.name {
  font-size: 1rem;
  padding: 0.3em 0;
}

/* ========= HEADIINGS =========== */
.heading,
.heading-1,
.heading-2 {
  color: var(--tertiary_);
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline orange;
  font-size: 2rem;
}

.blog-heading {
  margin-top: 7.5em;
  z-index: -1;
}

.heading-1 {
  text-decoration: underline #3877b8;
}

.heading-2 {
  text-decoration: underline #c26d66;
}

.heading-shadow {
  font-size: 3.2rem;
  color: rgba(255, 254, 254, 0.246);
  text-transform: uppercase;
  margin-bottom: -30px;
}

/* =========== END OF HEADINGS ============= */

/* =========== PORTFOLIO ========== */
#projects {
  padding: 5em 1em;
  background: linear-gradient(
    rgba(238, 176, 129, 0.157),
    rgba(238, 176, 129, 0.157)
  );
}

/* ========== END OF PORTFOLIO ========== */

/* ========== CONTACT SECTION ============ */
#contact {
  padding: 5em 1em;
  /* scroll-margin-top: 1em; */
}

.increase-form {
  padding: 1em;
}
.email,
.username,
.subject {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid var(--primary_);
  background-color: var(--dark);
  color: white;
}
.subscribe {
  width: 100%;
  outline: none;
  background-color: white;
  border: none;
  box-shadow: 0 0 1px grey;
  padding: 0.8em 1em;
  margin-bottom: 15px;
}
.subject {
  width: 100%;
}

textarea {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1.5em 1em;
  border-bottom: 3px solid var(--primary_) !important;
  background-color: var(--dark);
  color: white;
}

.submit input {
  color: #fff;
  transition: all linear 400ms;
  background-color: var(--tertiary_);
  border-radius: 0.3em;
  padding: 0.7em 0;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
  border: none;
}

.submit input:hover {
  color: var(--secondary_);
  background-color: white;
  border: 0.5px solid #154559dc;
  transition: background 0.5s ease-in;
}

/* ============ END OF CONTACT SECTION ================= */

/* ============= FOOTER */

#footer > .fa-code,
p,
.fa-heart {
  color: grey;
  font-size: 0.9rem;
}
#footer a {
  color: var(--primary_);
}
.footer {
  background-color: var(--dark_);
}

.footer .copy {
  color: gray;
  font-size: 0.8rem;
}

/* =============== END OF FOOTER =============== */

/* =============== OVERLAY FOR PROJECTS */
.container-0 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay-01 {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5));
  border-radius: 20px;
}
.container-0:hover .overlay-01 {
  opacity: 1;
}
.text-01 {
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
.visit-site {
  position: absolute;
  color: white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlayLeft {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.849);
}
.container-0:hover .overlayLeft {
  width: 100%;
}
/* ============ END OF OVERLAY =============== */

/* ================ BLOG --------------- */
.date {
  background: var(--tertiary_);
  padding: 0.3em 0;
  color: white;
  width: 60px;
  text-align: center;
  border-radius: 0.3em;
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: -40px;
  box-shadow: 2px 2px 5px grey;
}
.date p {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0;
}

.post-heading {
  color: rgba(36, 33, 33, 0.849);
}

.post-heading:hover {
  color: rgba(21, 69, 89, 0.863) !important;
  text-decoration: none !important;
  transition: all linear 300ms;
}

.post-heading:visited {
  color: #9abadb;
}
/* ================ END OF BLOG ================== */

/* TAGS */
.tag {
  margin-left: 1em;
  color: white;
  margin-bottom: 0.5em;
  padding: 0.2em 0.5em;
  text-decoration: none;
  border-radius: 10px;
}

.html {
  background-color: orangered;
}
.css {
  background-color: rgb(19, 19, 145);
}
.js {
  background-color: rgb(194, 194, 11);
}
.bootstrap {
  background-color: rgb(150, 5, 150);
}
.tag:hover {
  color: black;
  text-decoration: none;
  background-color: lightsteelblue;
  transition: all 200ms linear;
}

/* others */
.aside-tag,
.post-aside,
.sub-aside {
  background: var(--primary-lit_);
}

.fa-exclamation {
  font-size: 0.9rem;
}

.fav-qoutes {
  margin-top: 0.5em;
}

.animation {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
}

.animation.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.scroll {
  top: 31.5rem;
}

.abt-txt,
.abt-me {
  display: none;
}

.hello,
.iam {
  font-size: 0.6em;
}

.name {
  font-size: 2rem;
}

.work {
  font-size: 1.8em;
  color: white;
  font-family: "Itim", cursive;
}

.heading-shadow {
  font-size: 2.7rem;
  color: rgba(255, 254, 254, 0.246);
  text-transform: uppercase;
  margin-bottom: -30px;
}

.active-page {
  color: var(--primary_) !important;
}

/* .social-media {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
} */
#projects .reverse {
  flex-direction: column-reverse;
}

/* scroll */

/* END OF TAGS */

/* MEDIA QUERIES */

/* // Extra Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
  .abt-txt {
    margin-top: 1.8em;
    font-size: 1rem;
  }

  .warning {
    top: 100px;
  }

  .abt-me {
    margin-bottom: -40px;
  }

  .heading-shadow {
    font-size: 2.5rem;
    color: rgba(255, 254, 254, 0.246);
    text-transform: uppercase;
    margin-bottom: -30px;
  }

  .name {
    font-size: 2.3rem !important;
  }

  .work {
    font-size: 1.5rem;
  }

  .hello,
  .iam {
    font-size: 1.3rem;
  }

  .social-media {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* //  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .heading-shadow {
    font-size: 2.8rem;
    color: rgba(255, 254, 254, 0.246);
    text-transform: uppercase;
    margin-bottom: -30px;
  }

  .name {
    font-size: 2.5rem !important;
  }

  .work {
    font-size: 1.8rem;
  }

  .hello,
  .iam {
    font-size: 1.3rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 751px) {
  .social-media {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .scroll_top {
    width: 35px;
    height: 35px;
  }

  .logo {
    width: 55px;
    height: 55px;
  }

  .footer-logo {
    width: 55px;
    height: 55px;
  }
}
@media (min-width: 768px) {
  .abt-me {
    display: initial;
  }

  .abt-txt {
    font-size: 1em;
    display: block;
  }

  .scroll {
    top: 36rem;
  }

  .name {
    font-size: 2.5rem !important;
  }

  .work {
    font-size: 1.7rem;
  }

  #projects > .reverse {
    flex-direction: column-reverse;
    background-color: lawngreen !important;
  }

  .iam,
  .hello {
    font-size: 1.4rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #skills .hide-mobile {
    display: block;
    margin-bottom: 0;
  }

  .hide-desktop {
    display: none;
  }

  .scroll {
    top: 36rem;
  }

  .fa-bootstrap,
  .fa-html5,
  .fa-css3,
  .fa-js,
  .fa-sass,
  .fa-wordpress,
  .fa-git-square {
    margin-bottom: 0.5em;
  }

  nav {
    background-color: var(--light_gray_);
    padding: 0 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list {
    visibility: visible;
    display: flex;
    justify-content: center;
    position: static;
    z-index: 10;
    text-align: center;
    background: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .navbar-list a {
    text-decoration: none;
    color: var(--dark_);
    font-size: 1.1rem;
    display: block;
    padding: 1.5em 0;
  }

  .navbar-list * + * {
    margin-left: 1.5rem;
  }

  .navbar-list a:hover {
    background: none;
    color: var(--secondary_);
    text-decoration: none;
    transition: 0.5s;
  }
  .hire-btn {
    display: block;
  }

  .animation {
    transform: none;
    transition: all 0.7s ease-in-out;
    -webkit-transform: none;
    -webkit-transition: all 0.7s ease-in-out;
  }

  .animation.open {
    transform: none;
    -webkit-transform: none;
  }

  .menu_btn {
    display: none;
  }

  .social-media {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #projects .reverse {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  /*  */
}
